<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">


            <ol class="breadcrumb">
                <li class="active">
                    <span class="fa fa-home"></span> Home
                </li>
            </ol>


        </div>
    </div>
    <!-- Row -->
</div>
<!--Container -->


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-sm-10">
            <div class="url">

                <div class="col-xs-12 col-sm-4">

                    <div class="thumbnail">
                        <a [routerLink]="'/about'">
                            <img src="https://api.fnkr.net/testimg/350x200/aaaaaa" alt="">
                        </a>
                        <div class="caption">
                            <h2 class="text-center">About us</h2>
                            <p>在這裡講述了我們的名稱由來、發想理念及未來展望</p>
                            <a [routerLink]="'/about'">閱讀更多>></a>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-4">

                    <div class="thumbnail">
                        <a [routerLink]="'/product'">
                            <img src="https://api.fnkr.net/testimg/350x200/aaaaaa" alt="">
                        </a>
                        <div class="caption">
                            <h2 class="text-center">Product</h2>
                            <p>將要被丟棄的水果會被刊登在這裡，快來看看吧！</p>
                            <a [routerLink]="'/product'">閱讀更多>></a>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-4">

                    <div class="thumbnail">
                        <a href="">
                            <img src="https://api.fnkr.net/testimg/350x200/aaaaaa" alt="">
                        </a>
                        <div class="caption">
                            <h2 class="text-center">Unknow</h2>
                            <p>當前還沒有功能<br>正在努力開發中...</p>
                            <a href="">閱讀更多>></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-1"></div>
    </div>
    <!-- Row -->
</div>
<!--Container -->