<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">


            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="'/home'">
                        <span class="fa fa-home"></span> Home
                    </a>
                </li>
                <li class="active">About us</li>
            </ol>


        </div>
    </div>
    <!-- Row -->
</div>
<!--Container -->


<div class="row row-bg">
    <div class="jumbotron bg1">
        <div class="container">
            <div class="col-xs-12 col-sm-6">

                <h1>名稱由來</h1>
                <br>
                <p>我們希望這個網站能當作一個轉介站，讓即將因外型而被淘汰的水果被消費者看到、透過較低的價格購買，使這些畸形水果免於被丟棄的命運，於是將網站命名為"畸不可失"</p>

            </div>
        </div>
    </div>
</div>
<!-- Row -->



<div class="row row-bg">
    <div class="jumbotron bg2">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6">

                <h1>發想理念</h1>
                <br>
                <p>因為許多水果只因外型較不美觀而被拋棄，但其所含的營養價值卻不亞於一般水果，所以我們希望能藉由收購這些水果，並透過網站加以推廣、賣出，來減少此一浪費現象</p>

            </div>
        </div>
    </div>
</div>
<!-- Row -->



<div class="row row-bg">
    <div class="jumbotron bg3">
        <div class="container">
            <div class="col-xs-12 col-sm-6">

                <h1>未來展望</h1>
                <br>
                <p>我們希望能藉由架設網站、宣傳的方式，來讓他人知道即將被丟棄畸形水果。讓這些水果免於被丟棄，既能讓消費者以較低的價格購買，同時也能降低農民的虧損，達到雙贏的局面。</p>

            </div>
        </div>
    </div>
</div>
<!-- Row -->