<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">



            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="'/home'">
                        <span class="fa fa-home"></span> Home
                    </a>
                </li>
                <li class="active">Product</li>
            </ol>






        </div>
    </div>
    <!-- Row -->
</div>
<!--Container -->








<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">

            <a href="" class="thumbnail">
                <img src="assets\imgs\radish.png" alt="">
                <div class="caption">
                    <h2 class="ellipsis">香甜蘿蔔</h2>
                    <p class="ellipsis">由2000全國蘿蔔大賽冠軍ＸＸＸ所耕種的蘿蔔，運用其超過20年的耕種資歷，所種出的蘿蔔口感爽脆、味道香甜，不論入菜或是涼拌都是不錯的選擇</p>
                </div>
            </a>

        </div>
        <div class="col-xs-12 col-sm-4">

            <a href="#" class="thumbnail">
                <img src="https://api.fnkr.net/testimg/350x200/aaaaaa" alt="">
                <div class="caption">
                    <h2>標題</h2>
                    <p>內文</p>
                </div>
            </a>

        </div>
        <div class="col-xs-12 col-sm-4">

            <a href="#" class="thumbnail">
                <img src="https://api.fnkr.net/testimg/350x200/aaaaaa" alt="">
                <div class="caption">
                    <h2>標題</h2>
                    <p>內文</p>
                </div>
            </a>

        </div>
    </div>
    <!-- Row -->
</div>
<!--Container -->